<footer>
    Copyright © The NewB Dev 2023
</footer>
    </body>
</html>

<!--
Project Project using EJS and MongoDB 
Udemy Course: The Complete 2023 Web Developement Bootcamp
Acknowledgement: Angela Yu (App Brewery)
By: sys-unknwn7645
-->